{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Bellas Unhas - Contato</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilo.css' %}">
</head>
<body>

	<div id="area-cabecalho">
		
		<div id="area-logo">
			<h1>Bellas <span class="branco"> Unhas</span></h1>
		</div>
		
        <div id="area-menu">
			<!--<a href="/blog">Home</a>-->
			<a href="{% url 'home_blog' %}">Home</a>			
			<a href="">Blog</a>
			<a href="{% url 'sobre' %}">Sobre</a>
			<a href="{% url 'contato' %}">Contato</a>
		</div>

	</div>

	<div id="area-principal">

		<div id="area-postagens">

            <form method="post" action="{% url 'save_form' %}">
                {% csrf_token %}
                Seu nome   : <br>
                <input type="text" name="name" id="name"> <br>
        
                Seu E-mail : <br>
                <input type="email" name="email" id="email"> <br>

                Assunto : <br>
                <textarea name="message" id="message"></textarea>
                <input type="submit" value="Enviar">

            </form>
            <!--
            <a href="{% url 'home_blog' %}" class="button">Voltar</a>
             --> 	
		</div>

		<div id="area-lateral">
			
			<div class="conteudo-lateral">
				<h3>Postagens recentes</h3>
				
				<div class="postagem-lateral">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

				<div class="postagem-lateral" style="border-bottom: none;">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

			</div>

			<div class="conteudo-lateral">
				<h3>Categorias</h3>
				
				<a href="">Jogos</a><br>
				<a href="">Celulares</a><br>
				<a href="">Informática</a><br>
				<a href="">Eletrônicos</a><br>
				<a href="">Jogos</a><br>

			</div>


		</div>

		<div id="rodape">
			Todos os direitos reservados
		</div>

	</div>

</body>
</html>
<!--
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    
</head>
<body class="is-preload">
    
     <header id="header">
        <div class="inner">
            <a href="#" class="image avatar">
                <img src="{% static 'images/avatar.jpg' %}"
            alt="" /></a>
            <h1><strong>BELLAS UNHAS</strong>,nail designer <br />
                embeleza<br /> 
                criado por <a href="http://htmlSup.net">Univesp trabalho TCC></a>
            </h1>

        </div>
     </header>

    <
       <div id="main">
        <
         <section id="One">
            <header class="major">
                <h2>{{post.title}}</h2>
                <h4>{{post.sub_title}}</h4>
            </header>
            <p> {{ post.content }}</p>
            <ul class="actions">
                <li> <a href="{% url 'home_blog' %}" class="button">Voltar</a></li>
            </ul>
         </section>
        </div>
    
       
    
       <footer id="folter">
            <div class="inner">
                <ul class="icons">
                    <li>
                        <a href="#" class="icon brands fa-twitter">
                            <span class="label">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon brands fa-github">
                            <span class="label">Github</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon brands fa-dribbble">
                            <span class="label">Dribbble</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon solid fa-envelope">
                            <span class="label">Email</span>
                        </a>
                    </li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled</li>
                    <li>
                        Design: <a href="https://htmlSup.net>">HTML5 UP</a>
                    </li>
                </ul>
            </div>
       </footer>
    
       <script src="{% static 'assets/js/jquery.min.js' %}"></script>
       <script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
       <script src="{% static 'assets/js/browser.min.js' %}"></script>
       <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
       <script src="{% static 'assets/js/util.js' %}"></script>
       <script src="{% static 'assets/js/main.js' %}"></script>
    
</body>
</html>
-->

