{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Bellas Unhas - Blog</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilo.css' %}">
</head>
<body>

	<div id="area-cabecalho">
		
		<div id="area-logo">
			<h1>Bellas <span class="branco"> Unhas</span></h1>
		</div>
		<div id="area-menu">
			<a href="/blog">Home</a>
			<a href="">Blog</a>
			<a href="{% url 'sobre' %}">Sobre</a>
			<a href="{% url 'contato' %}">Contato</a>
		</div>

	</div>

	<div id="area-principal">

		<div id="area-postagens">
			
			<!-- abertura postagem -->
			<div class="postagem">
				{% for post in posts %}
					<h2>{{ post.title }}</h2>
					<!--
					<span class="data-postagem">postado 25 outubro 2024</span>
					-->
					<!--
					<img width="100px" src="{% static 'images/imagem6.jpeg' %}">
					<img src="{{post.imagem.url}}" alt="" 
					-->
										
					{% if post.imagem %}
						<img src="{{post.imagem}}" alt="" 
						with="150px" height="120px">
					{%else%}
						<img width="100px" height="120px"
						src="{% static 'images/imagem8.jpeg' %}">
					{% endif %}
				
					<p>
						{{ post.sub_title }}
						<br>					
						{{ post.get_category_label }}
					</p>
					
					<a href="{% url 'post_detail' post.id %}" class="button">Leia mais</a>
					<br><br>
					<hr>
                     
					<!--<a href="">Leia mais</a>-->
					
				{% endfor %}
			</div><!--// fechamento postagem -->

		</div>
		<div id="area-lateral">
			

			<div class="conteudo-lateral">
				<h3>Postagens recentes</h3>
				
				<div class="postagem-lateral">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

				<div class="postagem-lateral" style="border-bottom: none;">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

			</div>

			<div class="conteudo-lateral">
				<h3>Categorias</h3>
				
				<a href="">Jogos</a><br>
				<a href="">Celulares</a><br>
				<a href="">Informática</a><br>
				<a href="">Eletrônicos</a><br>
				<a href="">Jogos</a><br>

			</div>


		</div>

		<div id="rodape">
			Todos os direitos reservados
		</div>

	</div>

</body>
</html>