{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Bellas Unhas - Sobre</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilo.css' %}">
</head>
<body>

	<div id="area-cabecalho">
		
		<div id="area-logo">
			<h1>Bellas <span class="branco"> Unhas</span></h1>
		</div>
		
		<div id="area-menu">
			<!--<a href="/blog">Home</a>-->
			<a href="{% url 'home_blog' %}">Home</a>			
			<a href="">Blog</a>
			<a href="{% url 'sobre' %}">Sobre</a>
			<a href="{% url 'contato' %}">Contato</a>
		</div>
	</div>

	<div id="area-principal">

		<div id="area-postagens">

            <h2>Sobre a Bellas Unhas</h2>
			<p>
				Lorem Ipsum é simplesmente um texto modelo da indústria 
				tipográfica e de impressão. Lorem Ipsum tem sido o texto 
				modelo padrão da indústria desde os anos 1500, quando um 
				impressor desconhecido pegou uma galera de tipos e os 
				embaralhou para fazer um livro de espécimes de tipos. 
				Ele sobreviveu não apenas cinco séculos, mas também ao 
				salto para a composição eletrônica, permanecendo 
				essencialmente inalterado. Foi popularizado na década 
				de 1960 com o lançamento das folhas Letraset contendo 
				+passagens do Lorem Ipsum e, mais recentemente, com 
				softwares de editoração eletrônica como o Aldus PageMaker, 
				incluindo versões do Lorem Ipsum.

			</p>
            <br><br>
			<a href="{% url 'home_blog' %}" class="button">Voltar</a>
            
		</div>

		<div id="area-lateral">
			

			<div class="conteudo-lateral">
				<h3>Postagens recentes</h3>
				
				<div class="postagem-lateral">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

				<div class="postagem-lateral" style="border-bottom: none;">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

			</div>

			<div class="conteudo-lateral">
				<h3>Categorias</h3>
				
				<a href="">Jogos</a><br>
				<a href="">Celulares</a><br>
				<a href="">Informática</a><br>
				<a href="">Eletrônicos</a><br>
				<a href="">Jogos</a><br>

			</div>


		</div>

		<div id="rodape">
			Todos os direitos reservados
		</div>

	</div>

</body>
</html>
